*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.todo_index{
    display: flex;
    height: 100vh;
    width: 100%;
}


.login{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}
.superior{
  text-align: center;
}

.saludo{
    margin-top: 30px;
    font-size: 35px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.campo{
    display: flex;
    flex-direction: column;
    gap: 30px;
  
}

.formulario input{
    height: 40px;
    width: 230px;
    border-radius: 5px;
    background-color: #F5F5F5;
    color: gray;
    border :1px solid;
}

.espacio{
  padding-left: 15px;
  box-sizing: border-box;
  width: 300px;
}
 
.boton-logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

button{
    height: 40px;
    width: 230px;
    border-radius: 5px;
    border :1px solid;
}
.boton-acceso{
    background-color: #39810d;
    color: white;
    font-weight: bold;
}


.google{
  height: 15px;
  padding-right: 10px;
}

.foto{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.foto_inicio{
    height: 100vh;
    width: 100%;
}




