*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.todo_index{
    display: flex;
    height: 100vh;
    width: 100%;
}


.login{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: space-around;
}

.saludo{
    margin-top: 30px;
    font-size: 35px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.campo{
    display: flex;
    flex-direction: column;
    gap: 30px;
  
}

input{
    height: 40px;
    width: 230px;
}
.boton-logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button{
    height: 40px;
    width: 230px;
}
.boton-acceso{
    background-color: #39810d;
    color: white;
    font-weight: bold;
}
.boton-duo{
    display: flex;
    gap: 50px;
}

.foto{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.foto_inicio{
    height: 100vh;
    width: 100%;
}

.seleccion{
   display: flex;
   height: 100vh;
}

.seleccion a {
  flex: 1; 
}

.seleccion img {
  width: 100%;
  height: 100%;
}

.mujer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hombre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.seleccion p {
  position: absolute;
  transform: rotate(270deg);
  font-size: 80px;
  font-weight: bold;
  color: white;
  
}



.rebajas {
  height:800px;
  background-image: url("/resources/img/page_woman.png");
  background-position: top center;
  background-size: 100% auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== Navegador ===== */
.navegador {
  width: 95%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  font-weight: bold;
}

.nav-links :hover{
  text-decoration: underline;
}

.user img{
  width: 33px;
  height: 33px;
  border-radius: 50%;
}


.texto-rebajas {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  gap: 10px;
  padding-bottom: 30px;
}

.texto-rebajas h1 {
  font-size: 100px;
}

.texto-rebajas h2 {
  font-size: 50px;
}

.texto-rebajas p {
  font-size: 40px;
  padding-bottom: 30px;
}

.buscador {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 290px;
    padding: 30px;
}

.icono {
    height: 100px;
}

.buscar {
    border: 1px solid #000000;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
}


/* PRODUCTOS */
.productos {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  padding: 30px;
}

.producto {
  text-align: center;
}

.producto img {
  width: 100%;
}

.producto h3 {
  margin-top: 8px;
  font-size: 18px;
}

.producto p {
  font-weight: bold;

}



